{% extends "base.html" %}
{% block content %}
<h2>Manage User Details</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}: {{ form.username(size=32, readonly=true) }} <!-- Assuming username is not editable but available for reference -->
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.first_name.label }}<br>
        {{ form.first_name(size=32) }}
        {% for error in form.first_name.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.last_name.label }}<br>
        {{ form.last_name(size=32) }}
        {% for error in form.last_name.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.member_id.label }}<br>
        {{ form.member_id(size=32) }}
        {% for error in form.member_id.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}